@import './app/shared/styles/variables.scss';
@import './app/shared/styles/utils.scss';

html, body, app-root {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: $sans-serif;
  }
  
  body, app-root {
    display: flex;
    flex-direction: column;
  }
  

  main {
    overflow-y: auto;
    flex: auto;
  }

  // theme variables
  :root {
    --header-background-color: #cd0029;
    --body-background-color: #fff;
    --footer-background-color: #eaeaea;
    --footer-color: #cd0029;
    --btn-background: #fff;
    --btn-color: #CC0028;
    --tab-active-background: #cd0029;
    --tab-active-color: #fff;
    --tab-wrapper-color: #ec1313;
    --form-btn-background: #cd0029;
    --form-btn-color: #fff;
  }