@import '../variables.scss';

.header-background-light {
    background-color: $dark-red;
}
.body-background-light {
    background-color: $white;
}
.footer-background-light{
    background-color: $pale-white;
    color:$dark-red;
}
.btn-background-light {
    background-color: $white;
}
.btn-color-light {
    color: $light-red;
}
.tab-light.active {
    background-color: $dark-red;
    color: $white;
}
.tabs-wrapper-background-light {
    color: $lighter-red;
}
.form-btn-light{
    background-color: $dark-red;
    color:$white;
}