@import '../variables.scss';

.header-background-light {
    background-color: $dark-red;
}
.body-background-light {
    background-color: $white;
}
.footer-background-light{
    background-color: $pale-white;
}
.btn-background-light {
    background-color: $white;
}
.btn-color-light {
    color: $light-red;
}

