<header class="header">
        <img src="../../assets/images/logo.webp" alt="App Logo">
    <div class="header-logout">
            <str-btn *ngIf="isAuthenticated()" buttonText="{{'header.add-product-button' | translate}}" (click)="addProduct()"></str-btn>
            <str-btn buttonText="{{'header.theme-button' | translate}}" (click)="changeTheme()"></str-btn>
            <str-btn *ngIf="isAuthenticated()" buttonText="{{'header.logout-button' | translate}}" (click)="logout()"></str-btn>
    </div>
</header>
