<header>
    <str-header
     strlogo="../../assets/images/logo.webp"
     changeLanguageButtonText="{{'header.change-language' | translate}}"
     changeThemeButtonText="{{'header.theme-button' | translate}}"
     addProductButtonText="{{'header.add-product-button' | translate}}"
     logoutButtonText="{{'header.logout-button' | translate}}"
     isAuthenticated
     (onChangeLanguage)="changeLanguage()"
     (onAddProduct)="addProduct()"
     (onChangeTheme)="changeTheme()"
     (onLogout)="logout()"></str-header>
</header>
