<header class="header">
        <img src="../../assets/images/logo.webp" alt="App Logo">
    <div class="header-logout">
            <str-btn *ngIf="isAuthenticated()" buttonText="{{'header.add-product-button' | translate}}" (click)="addProduct()" ariaLabel="{{'Add a product'}}"></str-btn>
            <str-btn buttonText="{{'header.theme-button' | translate}}" (click)="changeTheme()" ariaLabel="{{'Change theme'}}"></str-btn>
            <str-btn *ngIf="isAuthenticated()" buttonText="{{'header.logout-button' | translate}}" (click)="logout()" ariaLabel="{{'Logout'}}"></str-btn>
    </div>
</header>
