<form [formGroup]="loginForm">
    <div>
        <div>
            <input aria-label="Enter email" class="str-input" type="email" formControlName="email"
                placeholder="Enter your email" />
                <p class="str-error-msg-class"
                    *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">{{'auth.email-validation' | translate}}</p>
        </div>
        <div>
            <input aria-label="Enter password" class="str-input" type="password" formControlName="password"
                placeholder="Enter password" />
                <p class="str-error-msg-class"
                    *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">{{'auth.password-validation' | translate}}
                </p>
        </div>
    </div>
    <div class="text-center">
        <str-form-btn (click)="onSubmit()" buttonText="{{'auth.submit-button' | translate}}" aria-label="Log in"></str-form-btn>
    </div>
</form>