<div class="tab">{{'auth.login-tab' | translate}}</div>
<form [formGroup]="loginForm" class="text-center">
    <div>
        <div>
            <str-input 
                ariaLabel="Enter email" 
                inputType="email" 
                inputPlaceholder="{{'auth.email-placeholder'|translate}}"
                (inputValueChanged)="emailValueChanged($event)"
            ></str-input>
                <p class="str-error-msg-class"
                    *ngIf="emailInvalid">{{'auth.email-validation' | translate}}</p>
        </div>
        <div>
                <str-input 
                    ariaLabel="Enter password" 
                    inputType="password" 
                    inputPlaceholder="{{'auth.password-placeholder'|translate}}"
                    (inputValueChanged)="passwordValueChanged($event)"
                ></str-input>
                <p class="str-error-msg-class"
                    *ngIf="passwordInvalid">{{'auth.password-validation' | translate}}
                </p>
        </div>
    </div>
    <div class="text-center">
        <str-form-btn
         buttonText="{{'auth.submit-button' | translate}}" 
         aria-label="Log in" 
         isFormButton
         (click)="onSubmit()">
        </str-form-btn>
        <a class="signup-link" (click)="navigate($event)" href="#" aria-label="Click to signup">{{'auth.signup-link' | translate}}</a>
    </div>
</form>