.signup-link {
    font-size: 12px;
    display: block;
    margin-bottom: 1rem;
}
.tab{
    text-align: center;
    font-weight: bold;
    padding:1rem;
    background-color: var(--tab-active-background);
    color: var(--tab-active-color);
}