<header class="header">
    <div>
       <img src="../../assets/images/logo.webp" alt="">
    </div>
    
    <div class="header-logout">
        <div>
            <button tyle="button" (click)="addProduct()" class="str-btn str-btn-colors" >Add Product</button>
        </div>
        <div>
            <button tyle="button" (click)="changeTheme()" class="str-btn str-btn-colors">Switch theme</button>
        </div>
        <div>
            <button tyle="button" class="str-btn str-btn-colors" (click)="logout()">Logout</button>
        </div>
    </div>
</header>
