<header class="header">
    <img src="../../assets/images/logo.webp" alt="">
    <div class="header-logout">
            <button tyle="button" (click)="addProduct()" class="str-btn str-btn-colors" *ngIf="isAuthenticated()">Add Product</button>
            <button tyle="button" (click)="changeTheme()" class="str-btn str-btn-colors">Switch theme</button>
            <button tyle="button" class="str-btn str-btn-colors" (click)="logout()" *ngIf="isAuthenticated()">Logout</button>
    </div>
</header>
