@import '../shared/styles/variables.scss';
.auth-container{
    width: 50%;
    margin: 3rem auto 0rem auto;
    border: 1px solid $border-color;
    border-radius: 5px;
}

@import '../shared/styles/media-queries.scss';