@import '../shared/styles/variables.scss';
.auth-container{
    width: 50%;
    margin: 3rem auto 0rem auto;
    border: 1px solid $border-color;
    border-radius: 5px;
}
.tab{
    list-style: none;
    width: 50%;
    text-align: center;
    font-weight: bold;
    padding:1rem;

}
.tabs-wrapper {
    display:flex;
    background-color: $white;
    padding: 0px;
    margin: 0px;

}
.tab-content {
    display: flex;
    justify-content: center;
}

.tab.active{  
        background-color: var(--tab-active-background);
        color: var(--tab-active-color);
}
@import '../shared/styles/media-queries.scss';