$dark-red: #cd0029;
$light-red: #CC0028;
$lighter-red: #ec1313;
$white: #fff;
$pale-white: #eaeaea;
$light-gray: #bdbdbd;
$dark-gray: #666666;


$black: #232323;
$dark-blue: #31708E !default;
$blue: #5085A5 !default;
$light-blue: #8FC1E3 !default;
$border-color: #c8c8c8 !default;
$sans-serif: 'Open Sans', sans-serif;
