<form [formGroup]="registrationForm">
    <div>
      <input
        aria-label="Enter email"
        class="str-input"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
        <p class="str-error-msg-class" *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].invalid"
          >Email is required</p>
    </div>
    <div>
      <input
        aria-label="Select a password"
        class="str-input"
        type="password"
        formControlName="password"
        placeholder="Select a password"
      />
        <p
          class="str-error-msg-class"
          *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].invalid"
          >Password is required</p>
    </div>
    <div>
      <input
        aria-label="confirm password"
        class="str-input"
        type="password"
        formControlName="confirmPassword"
        placeholder="Retype the password"
      />
        <p
          class="str-error-msg-class"
          *ngIf="registrationForm.controls['confirmPassword'].touched && registrationForm.controls['confirmPassword'].invalid"
          >Please confirm password
    </p>
    </div>
      <p class="str-error-msg-class" *ngIf="passwordMismatch"
        >Passwords don't match</p
      >
  <div class="text-center">
    <str-form-btn (click)="onSubmit()" buttonText="Submit" ariaLabel="{{'Signup'}}"></str-form-btn>
  </div>
</form>
