<div class="tab">{{'auth.register-tab' | translate}}</div>
<form [formGroup]="registrationForm" class="text-center">
  <div>
    <str-input 
    ariaLabel="Enter email" 
    inputType="email" 
    inputPlaceholder="{{'auth.email-placeholder'|translate}}"
    (inputValueChanged)="emailValueChanged($event)">
   </str-input>
    <p class="str-error-msg-class" *ngIf="emailInvalid">{{'auth.email-validation' | translate}}</p>
  </div>
  <div>
    <str-input 
    ariaLabel="Enter password" 
    inputType="password"
    inputPlaceholder="{{'auth.password-placeholder'|translate}}" 
    (inputValueChanged)="passwordValueChanged($event)">
    </str-input>
    <p class="str-error-msg-class" *ngIf="passwordInvalid">{{'auth.password-validation' | translate}}
    </p>
  </div>
  <div>
    <str-input 
    ariaLabel="confirm password" 
    inputType="password"
    inputPlaceholder="{{'auth.retype-password-placeholder'|translate}}"
    (inputValueChanged)="confirmPasswordValueChanged($event)">
  </str-input>
    <p class="str-error-msg-class"
      *ngIf="confirmPasswordInvalid">
      {{'auth.confirm-password-validation' | translate}}
    </p>
  </div>
  <p class="str-error-msg-class" *ngIf="passwordMismatch">{{'auth.password-mismatch-validation' | translate}}</p>
  <div class="text-center">
    <str-form-btn (click)="onSubmit()" buttonText="{{'auth.submit-button' | translate}}" aria-label="Sign up">
    </str-form-btn>
  </div>
</form>