<form [formGroup]="registrationForm">
    <div>
      <input
        aria-label="Enter email"
        class="str-input"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
        <p class="str-error-msg-class" *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].invalid"
          >{{'auth.email-validation' | translate}}</p>
    </div>
    <div>
      <input
        aria-label="Select a password"
        class="str-input"
        type="password"
        formControlName="password"
        placeholder="Select a password"
      />
        <p
          class="str-error-msg-class"
          *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].invalid"
          >{{'auth.password-validation' | translate}}</p>
    </div>
    <div>
      <input
        aria-label="confirm password"
        class="str-input"
        type="password"
        formControlName="confirmPassword"
        placeholder="Retype the password"
      />
        <p
          class="str-error-msg-class"
          *ngIf="registrationForm.controls['confirmPassword'].touched && registrationForm.controls['confirmPassword'].invalid"
          >{{'auth.confirm-password-validation' | translate}}
    </p>
    </div>
      <p class="str-error-msg-class" *ngIf="passwordMismatch"
        >{{'auth.password-mismatch-validation' | translate}}</p
      >
  <div class="text-center">
    <str-form-btn (click)="onSubmit()" buttonText="{{'auth.submit-button' | translate}}" aria-label="Sign up"></str-form-btn>
  </div>
</form>
