<div class="card" (click)="viewProduct($event)">
    <div class="text-center">
        <img [src]="product.imageUrl" class="product-image" alt="Avatar" onerror="this.src='../../../assets/images/noimage.webp';" width="200" width="200" height="200">
    </div>
    <div class="container card-details">
        <h4 class="text-center card-font-medium card-header-margin"><b>{{product.name}}</b></h4>
        <p class="text-center card-font-small card-details-margin">{{product.description}}</p>
        <p class="text-center card-font-small card-details-margin"><b><span>&#8377; </span> {{product.price}}</b></p>
    </div>
    <div class="text-center str-card-buttons-container">
        <str-form-btn *ngIf="currentUser === product.createdBy" (click)="updateProduct($event)" buttonText="Update" isCardButton="true"></str-form-btn>
        <str-form-btn *ngIf="currentUser === product.createdBy" (click)="deleteProduct($event)" buttonText="Delete" isCardButton="true"></str-form-btn>
    </div>
</div>