<div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <input class="str-input" type="email" formControlName="email" placeholder="Enter your email" />
            </div>
            <div>
                <input class="str-input" type="password" formControlName="password" placeholder="Select a password" />
            </div>
            <div>
                <input class="str-input" type="password" formControlName="confirmPassword" placeholder="Retype the password" />
            </div>
        </div>
        <div class="text-center">
            <button class="str-submit-btn str-btn" >Submit</button>
        </div>
    </form>
</div>