<div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <input aria-label="email" class="str-input" type="email" formControlName="email" placeholder="Enter your email" />
                <div>
                    <span class="str-error-msg-class" *ngIf="email.touched && email.invalid">Email is required</span>
                </div>
            </div>
            <div>
                <input aria-label="password" class="str-input" type="password" formControlName="password" placeholder="Select a password" />
                <div>
                    <span class="str-error-msg-class" *ngIf="password.touched && password.invalid">Password is required</span>
                </div>
            </div>
            <div>
                <input aria-label="confirm-pssword" class="str-input" type="password" formControlName="confirmPassword" placeholder="Retype the password" />
                <div>
                    <span class="str-error-msg-class" *ngIf="confirmPassword.touched && confirmPassword.invalid">Please confirm password </span>
                </div>
            </div>
            <div>
                <span class="str-error-msg-class" *ngIf="passwordMismatch">Passwords don't match</span>
            </div>
        </div>
        <div class="text-center">
            <button aria-label="Submit" class="str-submit-btn str-btn" >Submit</button>
        </div>
    </form>
</div>