<div class="card">
    <div class="text-center">
        <img [src]="product.imageUrl" class="product-image" alt="Avatar" width="200" height="200">
    </div>
    <div class="container card-details">
        <h4 class="text-center card-font-medium card-header-margin"><b>{{product.name}}</b></h4>
        <p class="text-center card-font-small card-details-margin">{{product.description}}</p>
        <p class="text-center card-font-small card-details-margin"><b><span>&#8377; </span> {{product.price}}</b></p>
    </div>
</div>