<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <input class="str-input" type="email" formControlName="email" placeholder="Enter your email" />
                <div>
                    <span class="str-error-msg-class" *ngIf="email.touched && email.invalid">Email is required</span>
                </div>
            </div>
            <div>
                <input class="str-input" type="password" formControlName="password" placeholder="Enter password" />
                <div>
                    <span class="str-error-msg-class" *ngIf="password.touched && password.invalid">Password is required</span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="str-submit-btn str-btn" >Submit</button>
        </div>
    </form>
</div>