@import './variables.scss';
.str-btn {
    padding: 8px;
    border: 1px solid $border-color;
    box-shadow: .5px .5px $border-color;
    margin: 1rem;
    &:active { 
        transform: scale(0.98); 
        /* Scaling button to 0.98 to its original size */ 
        -webkit-box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.75);
        box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.75);
    } 
}

.str-input {
    width: 20rem;
    height: 2rem;
    border: 1px solid $light-gray;
    border-radius: 5px;
    margin: 15px auto 0px 0px;
    padding-left: 10px;
}

.text-center{
    text-align: center;
}
.str-textarea {
    width: 20rem;
    border: 1px solid $light-gray;
    border-radius: 5px;
    margin: 15px auto 0px 0px;
    padding-left: 10px;
}

.str-error-msg-class {
    font-size: 12px;
    color: $lighter-red;
    margin-top:5px;
    margin-bottom:0px;
}


  @import './media-queries.scss';  