
<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
            <div>
                <input aria-label="name" class="str-input" type="text" formControlName="name" placeholder="Enter product name" [readonly]= "productOperationInfo.disableFormFields" />
                <div class="str-product-error">
                    <span class="str-error-msg-class" *ngIf="name.touched && name.invalid">Product name is required</span>
                </div>
            </div>
            <div>
                <input aria-label="price" class="str-input" type="number" formControlName="price" placeholder="Enter price" [readonly]= "productOperationInfo.disableFormFields"  />
                <div class="str-product-error">
                    <span class="str-error-msg-class" *ngIf="price.touched && price.invalid">Product price is required</span>
                </div>
            </div>
            <div>
                <textarea aria-label="description" class="str-textarea" name="description" id="" cols="30" formControlName="description" rows="10"
                 placeholder="Add a brief description of the product" [readonly]= "productOperationInfo.disableFormFields">
                </textarea>
            </div>
            <div *ngIf="imageUrlPreview">
                <img width="200" height="200" [src]="imageUrlPreview" alt="">
            </div>
            <div>
                <label for="" class="image-label" >Choose a product image</label>
                <input aria-label="product-image" type="file" #filePicker formControlName="imageUrl" path="../../../assets/images/" 
                 (change)="onImagePicked($event)" [readonly]= "productOperationInfo.disableFormFields">
            </div>
        </div>
        <div class="text-center">
            <button [attr.aria-label]="productOperationInfo.productOperation" class="str-submit-btn str-btn" *ngIf="productOperationInfo.productOperation !== 'View'">{{ 'products.product-operations.' + buttonText | translate}}</button>
            <button type="button" attr.aria-label="Back to products list" class="str-submit-btn str-btn" (click)="cancel()" >{{'products.product-operations.cancel-button' | translate}}</button>
        </div>
    </form>
</div>