
<div class="container">
    <form [formGroup]="productForm">
        <div class="text-center">
            <div>
                <str-input 
                ariaLabel="name" 
                inputType="text" 
                inputPlaceholder="{{'products.product-operations.enter-product-placeholder'|translate}}"
                isReadonly="{{productOperationInfo.disableFormFields}}"
                inputValue="{{name.value}}"
                (inputValueChanged)="nameValueChanged($event)"            
            ></str-input>
                <div>
                    <span class="str-error-msg-class" *ngIf="nameInvalid">{{'products.product-operations.product-name-validation'|translate}}</span>
                </div>
            </div>
            <div>
                <div>
                    <str-input 
                    ariaLabel="price" 
                    inputType="number" 
                    inputPlaceholder="{{'products.product-operations.enter-price-placeholder'|translate}}"
                    isReadonly="{{productOperationInfo.disableFormFields}}"
                    inputValue="{{price.value}}"
                    (inputValueChanged)="priceValueChanged($event)"
                ></str-input>
                </div>
                <div>
                    <span class="str-error-msg-class" *ngIf="priceInvalid">{{'products.product-operations.product-price-validation'|translate}}</span>
                </div>
            </div>
            <div>
                <str-textarea 
                ariaLabel="description"
                columns="30" 
                rows="10"
                inputPlaceholder="{{'products.product-operations.product-description-placeholder'|translate}}" 
                isReadonly= "{{productOperationInfo.disableFormFields}}"
                inputValue="{{description.value}}"
                (inputValueChanged)="descriptionValueChanged($event)">
                </str-textarea>
            </div>
            <div *ngIf="imageUrlPreview">
                <img width="200" height="200" [src]="imageUrlPreview" alt="">
            </div>
            <div>
                 <str-image-input 
                  ariaLabel="product-image"
                  isReadonly="{{productOperationInfo.disableFormFields}}"
                  inputValue="imageUrl"
                  labelValue="Choose a product image"
                  (inputValueChanged)="onImagePicked($event)">
                </str-image-input>
            </div>
        </div>
        <div class="text-center">
            <str-form-btn 
                [attr.aria-label]="productOperationInfo.productOperation" 
                *ngIf="productOperationInfo.productOperation !== 'View'"
                buttonText="{{ 'products.product-operations.' + buttonText | translate}}" 
                isSubmitButton
                (click)="onSubmit()">
            </str-form-btn>
            <str-form-btn  
              aria-label="Back to products list"
              buttonText="{{'products.product-operations.cancel-button' | translate}}"
              isSubmitButton
             (click)="cancel()" >
            </str-form-btn>
        </div>
    </form>
</div>