
<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
            <div>
                <input class="str-input" type="text" formControlName="name" placeholder="Enter product name" />
            </div>
            <div>
                <input class="str-input" type="number" formControlName="price" placeholder="Enter price" />
            </div>
            <div>
                <textarea class="str-textarea" name="description" id="" cols="30" formControlName="description" rows="10" placeholder="Add a brief description of the product"></textarea>
            </div>
            <div>
                <label for="" class="image-label">Choose a product image</label>
                <input type="file" #filePicker formControlName="imageUrl" path="../../../assets/images/"  (change)="onImagePicked($event)">
            </div>
        </div>
        <div class="text-center">
            <button class="str-submit-btn str-btn" >{{productOperation }} Product</button>
        </div>
    </form>
</div>